<script>
import axios from "axios";
import LayoutMain from "../../Layouts/Layoutuno.vue";
import {Link} from "@inertiajs/vue3"
import Swal from "sweetalert2";
export default {
    props: {
        id_componente: {
            type: Number,
            required: true,
            default: 9,
        },
    },
    components: {
        LayoutMain,
        Link,
    },

    data() {

    return {
      areas: [],
      opciones: false,
      searchQuery: "", 
    };
   }, 
    mounted() {
        console.log(this.id_componente);
        this.obtenerAreas();
    },
   
    methods: {
        Regresar() {
        console.log("regresar al formolario");
        this.$inertia.visit("/agregararea")
        },
         editarArea(area) {
            console.log('Editar:', area);
        },
        eliminarArea(areaid) {
            console.log('Eliminar:', areaid);
        },
        verOpciones() {
            this.opciones = !this.opciones;
        },
        verOpciones(index) {
            this.opciones = this.opciones === index ? false : index;
         
        },
        async obtenerAreas() {
        try {

            let respuesta = await axios.get("/verAreas");
            console.log('Areas_obtenidas =>',respuesta.data);
            this.areas = respuesta.data.areas;
        }catch (e) {
            console.error('Ocurrio algun error : ', e);
        }
    },

    async buscarAreas() {
                try {
                   const respuesta = await axios.get(`/buscarAreas/search?search=${this.searchQuery}`);
                   console.log(respuesta.data);

                //TODO: Filtra los remitentes basados en el searchQuery
                this.areas = respuesta.data.areas.filter(area => {
                return (
                area.nombre_del_area.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                area.cargo_del_area.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                area.direccion.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                area.nombre_del_titular.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                area.primer_apellido.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                area.segundo_apellido.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                area.telefono.toLowerCase().includes(this.searchQuery.toLowerCase()) ||
                area.correo_electronico.toLowerCase().includes(this.searchQuery.toLowerCase())
            );
        });

    } catch (e) {
        console.error("Ocurrió algo inesperado: ", e);
    }
},
    async editarArea(area) {
                try {
                    
                    this.$inertia.visit(route('editar.area', { id:    area.id }));
                  
                } catch (error) {
                    console.error('Error al obtener detalles del area:', error);
       }

    },
    async eliminarArea(areaid) {
    try {
        // Se muestra un mensaje de confirmación con SweetAlert2
        const confirmacion = await Swal.fire({
            icon: 'warning',
            title: 'Confirmación',
            text: '¿Estás seguro de que quieres eliminar esta área?',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar',
        });

        // Si el usuario confirma la eliminación, procede con la solicitud al servidor
        if (confirmacion.isConfirmed) {
            // Llama a la API para eliminar el área
            await axios.delete(`/eliminarArea/${areaid}`);
            
            // Actualiza la lista de áreas después de eliminar
            this.obtenerAreas();

            // Muestra un mensaje de éxito con SweetAlert2
            await Swal.fire({
                icon: 'success',
                title: 'Éxito',
                text: `Área con ID ${areaid} eliminada con éxito.`,
            });
        }
    } catch (error) {
        console.error(`Error al eliminar el área con ID ${areaid}:`, error);

        // Muestra un mensaje de error con SweetAlert2
        await Swal.fire({
                icon: 'error',
                title: 'Error',
                text: `Hubo un problema al eliminar el área con ID ${areaid}. Por favor, inténtalo de nuevo.`,
             });
           }
        }

    }, 
};
</script>

<template>
    <LayoutMain :id_componente="id_componente">
        <h1 class="text-8xm font-bold text-gray-600 text-left mt-4 mb-4 hover:text-blue-500">Busca los datos de un Area PJET</h1>
        <div style="max-width:700px; margin: 20px 0 auto;" class="max-w-sm md:max-w-md lg:max-w-lg xl:max-w-4xl mx-auto p-4 mb-4">
            <form class="flex items-center" @submit.prevent="buscarAreas">
                <label for="voice-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                    </svg>
                    </div>
                    <input v-model="searchQuery" type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-400 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search..." required="">
                    <button type="button" class="flex absolute inset-y-0 right-0 items-center pr-3"></button>
                </div>
                    <button type="submit" class="inline-flex items-center py-2.5 px-3 ml-2 text-sm mr-8 font-medium text-white bg-blue-700 border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg aria-hidden="true" class="mr-2 -ml-1 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>Buscar
                </button>
            </form>
        </div>
     
      <div class="md:px-32 py-8 overflow-x-auto">
            <div
                class="shadow overflow-x-auto rounded border-b border-gray-200"
            >
                <table class="min-w-full bg-white">
                    <thead class="bg-gray-800 text-white">
                        <tr>
                            <th
                                class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Nombre del Area
                            </th>
                            <th
                                class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Cargo del Area
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Direccion 
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Nombre del Titular
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Primer Apellido
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Segundo Apellido
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Puesto
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Telefono
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Direccion de Email
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <!-- Usamos un v-for para llenar las celdas con los datos -->
                        <tr v-for="(area, index) in areas" :key="area.id" class="bg-gray-100">
                            <td class="w-1/3 text-left py-3 px-4">{{ area.nombre_del_area }}</td>
                            <td class="w-1/3 text-left py-3 px-4">{{ area.cargo_del_area }}</td>
                            <td class="text-left py-3 px-4">{{ area.direccion }}</td>
                            <td class="text-left py-3 px-4">{{ area.nombre_del_titular }}</td>
                            <td class="text-left py-3 px-4">{{ area.primer_apellido }}</td>
                            <td class="text-left py-3 px-4">{{ area.segundo_apellido }}</td>
                            <td class="text-left py-3 px-4">{{ area.puesto }}</td>
                            <td class="text-left py-3 px-4">{{ area.telefono }}</td>
                            <td class="text-left py-3 px-4">{{ area.correo_electronico }}</td>
                            <td class="flex">
                           <div class="group relative">
                           <button @click="verOpciones(index)" class="text-blue-500 mr-2 border border-blue-500 rounded-md px-3 py-1 hover:bg-blue-500 hover:text-white">Ver Opciones</button>
                           <div v-show="opciones === index" class="flex flex-col space-y-2 p-2 bg-gray-100 rounded-md">
                           <button @click="editarArea(area)" class="text-green-600 border border-green-600 rounded-md px-3 py-1 hover:bg-green-600 hover:text-white"><i class="fa fa-pencil" aria-hidden="true"></i>
                           Editar</button>
                           <button @click="eliminarArea(area.id)" class="text-red-700 border border-red-700 rounded-md px-3 py-1 hover:bg-red-700 hover:text-white"><i class="fa fa-trash-o" aria-hidden="true"></i>
                           Eliminar</button>
                           </div>
                           </div>
                           </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
         <!-- BOTON PARA REGRESAR HACIA EL FORMULARIO ml-72 mx-auto-->
         <div class="justify-center flex w-full">
            <div class="w-full md:w-1/2 lg:w-1/4 flex flex-col md:flex-row">
                <button
                    class="border border-blue-500 text-blue-500 bluck rounded-sm font-bold py-4 px-10 mr-10 mb-2 md:mb-0 flex items-start hover:bg-blue-500 hover:text-white"
                    @click="Regresar()">
                    <svg
                        class="h-5 w-5 mr-2 fill-current"
                        version="1.1"
                        id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px"
                        y="0px"
                        viewBox="-49 141 512 512"
                        style="enable-background: new -49 141 512 512"
                        xml:space="preserve">
                        <path
                            id="XMLID_10_"
                            d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"
                        ></path>
                    </svg>
                    Regresar
                </button>
            </div>
        </div>
</LayoutMain>
</template>