<script setup>
import { Head, Link } from "@inertiajs/vue3";

defineProps({
    canLogin: Boolean,
    canRegister: Boolean,
    laravelVersion: String,
    phpVersion: String,
});
</script>

<template>
    <Head title="Welcome" />

    <div
        class="relative sm:flex sm:justify-center sm:items-center min-h-screen bg-dots-darker bg-center bg-gray-100 dark:bg-dots-lighter dark:bg-gray-900 selection:bg-red-500 selection:text-white"
    >
        <div
            v-if="canLogin"
            class="sm:fixed sm:top-0 sm:end-0 p-6 text-end z-10"
        >
            <Link
                v-if="$page.props.auth.user"
                :href="route('dashboard')"
                class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                >Dashboard</Link
            >

            <template v-else>
                <Link
                    v-if="canLogin"
                    :href="route('register')"
                    class="ms-4 font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500 mr-2"
                    >Registrar</Link
                >

                <Link
                    v-if="canLogin"
                    :href="route('login')"
                    class="font-semibold text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white focus:outline focus:outline-2 focus:rounded-sm focus:outline-red-500"
                    >Iniciar</Link
                >
            </template>
        </div>

        <!-- component -->
        <div
            class="flex min-h-screen items-center justify-center bg-gray-900 font-bold text-white"
        >
            <div class="text-center space-y-12">
                <div class="text-center text-5xl font-bold">
                    <div
                        class="text-center pb-10 text-6xl font-bold text-pink-800"
                    >
                        SIDECOP
                    </div>
                    Sistema De Correspondencia Digital
                    <div
                        class="relative inline-grid grid-cols-1 grid-rows-1 gap-12 overflow-hidden"
                    >
                        <span class="animate-word col-span-full row-span-full"
                            >Tlaxcala</span
                        >
                        <span
                            class="animate-word-delay-1 col-span-full row-span-full"
                            >De</span
                        >
                        <span
                            class="animate-word-delay-2 col-span-full row-span-full"
                            >Judicial</span
                        >
                        <span
                            class="animate-word-delay-3 col-span-full row-span-full"
                            >Poder</span
                        >
                        <span
                            class="animate-word-delay-4 col-span-full row-span-full"
                            >Del</span
                        >
                    </div>
                </div>
                <p class="text-white">
                    <a
                        class="underline"
                        href="mailto:ponnamkarthik3@gmail.com"
                    ></a>
                </p>
            </div>
        </div>
    </div>
</template>

<style>
@keyframes word {
    0% {
        transform: translateY(100%);
    }
    15% {
        transform: translateY(-10%);
        animation-timing-function: ease-out;
    }

    20% {
        transform: translateY(0);
    }

    40%,
    100% {
        transform: translateY(-110%);
    }
}
.animate-word {
    animation: word 7s infinite;
}
.animate-word-delay-1 {
    animation: word 7s infinite;
    animation-delay: -1.4s;
}
.animate-word-delay-2 {
    animation: word 7s infinite;
    animation-delay: -2.8s;
}
.animate-word-delay-3 {
    animation: word 7s infinite;
    animation-delay: -4.2s;
}
.animate-word-delay-4 {
    animation: word 7s infinite;
    animation-delay: -5.6s;
}
.animate-word-delay-5 {
    animation: word 7s infinite;
    animation-delay: -6.8s;
}
</style>
