<script setup>
import { Link } from '@inertiajs/vue3';
</script>

<template>
    <Link :href="'/vernuevo'">
        <img src="/img/logo3.png" alt="Logo" class="w-15 h-15 mx-auto pb-3 text-blue-500"/>
    </Link>
    
</template>
