<template>
    <div
        class="min-h-screen flex flex-col sm:justify-center items-center pt-6 sm:pt-0 bg-gray-900"
    >
        <div class="bg-white sm:w-2/5 mt-6 px-6 py-4 shadow-md sm:rounded-lg">
            <slot name="logo" />
            <div class="flex items-center justify-center">
                <div
                    class="w-full sm:max-w-xl mt-6 px-6 py-4 bg-white shadow-md overflow-hidden sm:rounded-lg"
                >
                    <div class="text-slate-100 items-center">
                        <div
                            class="text-center pb-10 text-5xl font-bold text-blue-500"
                        >
                            SIDECOP
                        </div>
                        <svg
                            class="w-14 h-14 mx-auto pb-3 text-blue-500"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                            ></path>
                        </svg>
                    </div>
                    <slot />
                </div>
            </div>
        </div>
    </div>
</template>
