<script>
import LayoutMain from "../../Layouts/Layoutuno.vue";
import { Link } from "@inertiajs/vue3";
import axios from "axios";
import Swal from "sweetalert2";
export default {
    props: {
        id_componente: {
            type: Number,
            required: true
        }
    },
    components: {
        LayoutMain,
        Link,
    },
    data() {
    return {

        archivados: [],
        showOptions: 0,
    };
  },
  methods: {
        
        toggleOptions() {
        this.showOptions = !this.showOptions;
        },
        toggleOptions(index) {
        this.showOptions = this.showOptions === index ? false : index;
        },
        Anterior() {
            console.log("regresar a enviados");
        this.$inertia.visit("/enviados");
        }, 
        Next() {
            console.log("siguiente apartado de documentos");
        this.$inertia.visit("/documentosimportantes");
    },

    async obtenerDocumentosArchivados() {
    try {
        const respuesta = await axios.get("/obtener-documentos-archivados");

        // Asigna los datos a la propiedad contestados
        this.archivados = respuesta.data.archivados.map(archivado => ({
            id: archivado.documento.id,
            nombre_entrante: archivado.documento.nombre_entrante,
            asunto: archivado.documento.asunto,
            ubicacion_del_departamento: archivado.documento.ubicacion_del_departamento,
            fechado: archivado.documento.fechado,
            recibido: archivado.documento.recibido,
            numero_de_documento: archivado.documento.numero_de_documento,
            numero_de_folio: archivado.documento.numero_de_folio,
            a_quien_va_dirigido: archivado.documento.a_quien_va_dirigido,
            nombreArchivo: archivado.nombre_archivo,
            nombreAcuse: archivado.nombre_acuse,
        }));
    } catch (error) {
        console.error("Error al obtener documentos archivados:", error);
    }
},

    async eliminarArchivado(archivadoid) {
    try {
        // Muestra un mensaje de confirmación con SweetAlert2
        const confirmacion = await Swal.fire({
            icon: "warning",
            title: "Confirmación",
            text: "¿Estás seguro de que quieres eliminar los datos de este Documento?",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Sí, eliminar",
            cancelButtonText: "Cancelar",
        });

        // Si el usuario confirma la eliminación, procede con la solicitud al servidor
        if (confirmacion.isConfirmed) {
            // Llama a la API para eliminar el documento archivado
            await axios.delete(`/eliminar-documento-archivado/${archivadoid}`);

            // Muestra un mensaje de éxito con SweetAlert2
            await Swal.fire({
                icon: "success",
                title: "Éxito",
                text: `Documento archivado con ID ${archivadoid} eliminado con éxito.`,
            });

            // Actualiza la lista de Documentos después de eliminar
            this.obtenerDocumentosArchivados();
        }
    } catch (error) {
        console.error(`Error al eliminar el documento archivado con ID ${archivadoid}:`, error);

        // Muestra un mensaje de error con SweetAlert2
        await Swal.fire({
            icon: "error",
            title: "Error",
            text: `Hubo un problema al eliminar el documento archivado con ID ${archivadoid}. Por favor, inténtalo de nuevo.`,
        });
    }
},

  },
  mounted() {
        console.log(this.id_componente); 
        this.obtenerDocumentosArchivados();
    },
};
</script>

<template>
    <LayoutMain :id_componente="id_componente">
        <div>
            Apartado de documentos archivados
        </div>
        <div class="md:px-4 lg:px-32 py-8 overflow-x-auto">
            <div
                class="shadow overflow-x-auto rounded border-b border-gray-200"
            >
            <table class="min-w-full">
                    <thead class="bg-fuchsia-950 text-white">
                        <tr>
                            <th
                                class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Nombre Completo del Remitente
                            </th>

                            <th
                                class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Asunto
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Ubicacion del departamento
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Fechado
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Recibido
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Numero de documento
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Numero de folio
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Aquien fue Turnado
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Nombre del Archivo
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Nombre del Acuse
                            </th>
                            <th
                                class="text-center py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr
                            v-for="(archivado, index) in archivados"
                            :key="archivado.id"
                            class="bg-gray-100"
                        >
                            <td class="w-1/3 text-left py-3 px-4">
                                {{ archivado.nombre_entrante }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.asunto }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.ubicacion_del_departamento }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.fechado }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.recibido }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.numero_de_documento }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.numero_de_folio }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.a_quien_va_dirigido }}
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.nombreArchivo }} <!-- Mostrar el nombre del archivo aquí -->
                            </td>
                            <td class="text-left py-3 px-4">
                                {{ archivado.nombreAcuse }} <!-- Mostrar el nombre del acuse aquí -->
                            </td>
                            <td class="flex">
                                <div class="group relative">
                                    <button
                                        @click="toggleOptions(index)"
                                        class="text-blue-600 border border-blue-600 rounded-md px-3 py-1 hover:bg-blue-600 hover:text-white w-full">
                                        Ver Opciones
                                    </button>
                                    <div
                                        v-show="showOptions === index"
                                        class="flex flex-col space-y-2 p-2 bg-gray-100 rounded-md">
                                        
                                        <button
                                            @click="
                                                eliminarArchivado(archivado.id)
                                            "
                                            class="text-red-700 border border-red-700 rounded-md px-3 py-1 hover:bg-red-700 hover:text-white">
                                            <i
                                                class="fa fa-trash-o"
                                                aria-hidden="true"
                                            ></i>
                                            Eliminar
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
                  <!-- BOTON PARA REGRESAR HACIA EL APARTADO ANTERIOR -->
     <div class="w-full flex justify-center">
     <div class="w-1/4 flex">
        <button class="border border-blue-500 text-blue-500 bluck rounded-sm     font-bold py-4 px-6 mr-2 flex items-center hover:bg-blue-500     hover:text-white" @click="Anterior()">
                <svg class="h-5 w-5 mr-2 fill-current" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                <path id="XMLID_10_" d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"></path>
                </svg>
                Regresar
        </button>
        <button class="border border-red-700 bg-red-700 text-white bluck  rounded-sm font-bold py-4 px-6 ml-6 flex items-center hover:bg-white hover:text-red-700" @click="Next()">
                Siguiente
                <svg class="h-5 w-5 ml-2 fill-current" clasversion="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                <path id="XMLID_11_" d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
                l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
                c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"/>
            </svg>
        </button>
         </div>
       </div>
    </LayoutMain>
</template>
