<script>
import axios from "axios";
import LayoutMain from "../../Layouts/Layoutuno.vue";
import { Link } from "@inertiajs/vue3";
export default {
    props: {
        id_componente: {
            type: Number,
            required: true,
            
        },
    },
    components: {
        LayoutMain,
        Link,
    },
    data() {
    return {
        historiales: [],
        showOptions: 0,

     
    };
  },
    
    methods: {
        
        eliminarItem(historialId) {
            console.log('Eliminar:', historialId);
        },
        toggleOptions() {
        this.showOptions = !this.showOptions;
        },
        toggleOptions(index) {
        this.showOptions = this.showOptions === index ? false : index;
        },
        Regresar() { 
              console.log("regresar al anterior apartado");
        this.$inertia.visit("/documentosimportantes")
         }, 
        Siguiente() {
              console.log("siguiente apartado");
        this.$inertia.visit("/verremitentes")
    },
    
    async obtenerDocumentos() {
      try {
        const response = await axios.get('/documentoshistorial');
        this.historiales = response.data;
      } catch (error) {
        console.error('Error al obtener documentos:', error);
      }
    },

    },
    mounted() {
        console.log(this.id_componente);
        this.obtenerDocumentos();
    },
    
};
</script>

<template>
    <LayoutMain :id_componente="id_componente">
        <div>Apartado de documentos</div>
        <div class="md:px-32 py-8">
            <div class="shadow overflow-hidden rounded border-b border-gray-200">
                <table class="min-w-full bg-white">
                    <thead class="bg-fuchsia-950 text-white">
                        <tr>
                            <th
                                class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Fecha
                            </th>
                            <th
                                class="w-1/3 text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Estado
                            </th>
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                id del documento
                            </th>
                            
                            <th
                                class="text-left py-3 px-4 uppercase font-semibold text-sm"
                            >
                                Accciones
                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-700">
                        <tr v-for="(historial, index) in historiales" :key="historial.id">
                            <td class="w-1/3 text-left py-3 px-4">{{ historial.fechado }}</td>
                            <td class="w-1/3 text-left py-3 px-4">{{ historial.estado }}</td>
                            <td class="text-left py-3 px-4">{{ historial.nombre_entrante }}</td>
                           
                            <td class="flex">
                             <div class="group relative">  
                            <button @click="toggleOptions(index)"
                            class="text-blue-500 mr-2 border border-blue-500 rounded-md px-3 py-1 hover:bg-blue-500 hover:text-white">
                            Ver Opciones
                            </button> 
                            <div v-show="showOptions === index" class="flex flex-col space-y-2 p-2 bg-gray-100 rounded-md">
                            <button @click="eliminarItem(historial.id)" class="text-red-500 border border-red-500 rounded-md px-3 py-1 hover:bg-red-500 hover:text-white"><i class="fa fa-trash-o" aria-hidden="true"></i>
                            Eliminar</button>
                            </div>
                            </div> 
                            </td>
                        </tr>  
                    </tbody>
                </table>
            </div>
        </div>
         <!-- BOTON PARA REGRESAR HACIA EL SIGUIENTE APARTADO -->
     <div class="w-full flex justify-center">
    <div class="w-1/4 flex">
        <button class="border border-blue-500 text-blue-500 bluck rounded-sm     font-bold py-4 px-6 mr-2 flex items-center hover:bg-blue-500     hover:text-white" @click="Regresar()">
                <svg class="h-5 w-5 mr-2 fill-current" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                <path id="XMLID_10_" d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"></path>
                </svg>
                Regresar
        </button>
        <button class="border border-red-700 bg-red-700 text-white bluck  rounded-sm font-bold py-4 px-6 ml-6 flex items-center hover:bg-white hover:text-red-700" @click="Siguiente()">
                Siguiente
                <svg class="h-5 w-5 ml-2 fill-current" clasversion="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                viewBox="-49 141 512 512" style="enable-background:new -49 141 512 512;" xml:space="preserve">
                <path id="XMLID_11_" d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
                l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
                 c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"/>
            </svg>
        </button>
         </div>
       </div>
    </LayoutMain>
</template>
