<script>
// TODO: EN ESTE APARTADO SE AGREGA UN CICLO DE REPETICION PARA MANDAR A LLAMAR ALGUNAS FUNCIONES QUE SE ENCARGAN DE DARLE FUNCIONALIDAD AL MENU PRINCIPAL DE LA APLICACCION

import { Link } from "@inertiajs/vue3";
export default {
    props: {
        id_componente: {
            type: Number,
            required: false,
            default: 0,
        },
    },
    components: {
        Link,
    },
    data() {
        return {
            
            titulo_aplicacion: "SIDECOP V.Alpha",
            isMenuOpen: false,
        
            elementos_menu: [
                {
                    id: 1,
                    nombre: "Documentos Entrantes",
                    url: "entrantes",
                    icono: "fa fa-folder true",
                    activo: "false",
                    nombre_ruta: "VerNuevo.index",
                },
                {
                    id: 2,
                    nombre: "Pendientes",
                    url: "pendientes",
                    icono: "fa fa-folder true",
                    activo: "false",
                    nombre_ruta: "Pendientes.index",
                },
                {
                    id: 3,
                    nombre: "Contestados",
                    url: "contestados",
                    icono: "fa fa-folder true",
                    activo: "false",
                    nombre_ruta: "Contestados.index",
                },
                {
                    id: 4,
                    nombre: "Archivados",
                    url: "archivados",
                    icono: "fa fa-folder true",
                    activo: "false",
                    nombre_ruta: "Archivados.index",
                },
                
                {
                    id: 6,
                    nombre: "Documentos Importantes",
                    url: "documentosimportantes",
                    icono: "fa fa-folder true",
                    activo: "false",
                    nombre_ruta: "DocumentosImportantes.index",
                },
                {
                    id: 5,
                    nombre: "Historial de Documentos",
                    url: "documentos",
                    icono: "fa fa-history true",
                    activo: "false",
                    nombre_ruta: "Documentos.index",
                },
                {
                    id: 7,
                    nombre: "Ver Remitentes PJET Agregados",
                    url: "verremitentes",
                    icono: "fa fa-user true",
                    activo: "false",
                    nombre_ruta: "VerRemitente.index",
                },
                {
                    id: 10,
                    nombre: "Ver Remitentes Externos Agregados",
                    url: "verremitentesexternos",
                    icono: "fa fa-user true",
                    activo: "false",
                    nombre_ruta: "VerRemitenteExterno.index",
                },
                {
                    id: 11,
                    nombre: "Ver Otros Remitentes Agregados",
                    url: "verotrosremitentes",
                    icono: "fa fa-user true",
                    activo: "false",
                    nombre_ruta: "VerOtroRemitente.index",
                },
                {
                    id: 8,
                    nombre: "Ver Destinatarios Agregados",
                    url: "verdestinatarios",
                    icono: "fa fa-user true",
                    activo: "false",
                    nombre_ruta: "VerDestinatario.index",
                },
                {
                    id: 9,
                    nombre: "Ver Areas Agregadas",
                    url: "ver_area_poder_judicial",
                    icono: "fa fa-university true",
                    activo: "false",
                    nombre_ruta: "VerArea.index",
                },
            ],
        };
        
    },
    mounted() {
        console.log(this.elementos_menu);
        console.log("el elemento se esta montando");
        if (this.id_componente > 0) {
            this.colocarElementoMenuActivo(this.id_componente);
            console.log(this.elementos_menu);
        }
        console.log(this.id_componente);

    },
    methods: {
        colocarElementoMenuActivo(id_elemento) {
            this.elementos_menu.forEach((elemento) => {
                elemento.id == id_elemento
                    ? (elemento.activo = true)
                    : (elemento.activo = false);
            });
            console.log("elemento_menu =>", id_elemento);
        },
        deshabilitarMenu() {
            this.elementosMenuDesactivados = true;
        },

        habilitarMenu() {
            this.elementosMenuDesactivados = false;
        },
        toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen;
        },

       
         
    },
};
</script>
<template>
    <!-- ESTA ES LA INTERFAZ DEL USUARIO DE LA APLICACCION WEB A DONDE SE ENCUENTRA EL MENU -->
    <div class="flex min-h-screen">

    <div class="min-h-screen bg-pink-950 py-6 flex flex-col justify-start sm:py-12">
    <div class="relative py-3 sm:max-w-xl mx-auto">
        <nav x-data="{ open: false }">
            <!-- Botón para abrir/cerrar el menú -->
            <button class="text-gray-500 px-4 w-10 h-10 relative focus:outline-none bg-gray-100 mt-2 ml-2 md:hidden lg:hidden flex items-center" @click="toggleMenu">
                <span class="sr-only">Open main menu</span>
                <div class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2">
                    <span aria-hidden="true" class="block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': isMenuOpen,' -translate-y-1.5': !isMenuOpen }"></span>
                    <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current   transform transition duration-500 ease-in-out" :class="{'opacity-0': isMenuOpen } "></span>
                    <span aria-hidden="true" class="block absolute  h-0.5 w-5 bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': isMenuOpen, ' translate-y-1.5': !isMenuOpen}"></span>
                </div>
            </button>
            <!-- Menú -->
            <nav class="md:hidden w-96 bg-pink-950" x-show="isMenuOpen" @click.away="isMenuOpen = false" :class="{ 'block': isMenuOpen, 'hidden': !isMenuOpen}">
                <ul class="relative m-0 p-0 list-none">
                    <li class="text-white text-2xl p-4 w-full flex relative shadow-sm justify-start bg-pink-950 border-b-2 border-pink-900">
                        {{ titulo_aplicacion }}
                    </li>
                    <li class="text-white p-4 w-full flex relative shadow-sm justify-start bg-pink-950 border-b-2 border-pink-900">
                        <!-- Contenido del menú... -->
                        <div class="mr-4 flex-shrink-0 my-auto">
                            <svg
                                    class="fill-current w-5 h-5"
                                    focusable="false"
                                    viewBox="0 0 24 24"
                                    aria-hidden="true">
                                    <path
                                        d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"
                                    ></path>
                            </svg>
                        </div>
                        <div class="flex-auto my-1">
                            <span>Menu Principal</span>
                        </div>
                    </li>
                    <!-- SECCION PRINCIPAL DEL MENU -->
                    <li class="mb-5">
                        <div>
                            <Link :href="route('AgregarRemitenteNuevo.index')" class="boton_agregar">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Agregar Remitente
                            </Link>
                        </div>
                    </li>
                    <li class="mb-5">
                        <div>
                            <Link :href="route('AgregarNuevo.index')" class="boton_agregar">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Agregar Nuevo Documento
                            </Link>
                        </div>
                    </li>
                    <li class="mb-5">
                        <div>
                            <Link :href="route('AgregarDestinatario.index')" class="boton_agregar">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Agregar Destinatario
                            </Link>
                        </div>
                    </li>
                    <li class="mb-5">
                        <div>
                            <Link :href="route('AgregarArea.index')" class="boton_agregar">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                Agregar Área Poder Judicial
                            </Link>
                        </div>
                    </li>
                    <div class="flex relative px-4 hover:bg-pink-700 cursor-pointer" :class="[elemento_menu.activo ? 'text-blue-400' : 'text-white']" v-for="(elemento_menu, index) in elementos_menu" :key="index">
                        <div class="mr-4 my-auto">
                            <i class="fa" :class="elemento_menu.icono" aria-hidden="true"></i>
                        </div>
                        <div class="flex-auto my-1">
                            <Link :href="route(elemento_menu.nombre_ruta)">
                                <span>{{ elemento_menu.nombre }}</span>
                            </Link>
                        </div>
                    </div>
                </ul>
            </nav>
        </nav>
    </div>
</div>


   <!--w-65 flex-shrink-0 hidden md:block-->


        <nav class="w-65 flex-shrink-0 md:flex hidden">
            <div class="flex-auto bg-pink-950 h-ful">
                <div class="flex flex-col overflow-y-auto">
                    <ul class="relative m-0 p-0 list-none h-full">
                        <li
                            class="text-white text-2xl p-4 w-full sm:w-65 flex relative shadow-sm justify-start bg-pink-950 border-b-2 border-pink-900">
                            {{ titulo_aplicacion }}
                        </li>
                        <li
                            class="text-white p-4 w-full sm:w-65 flex relative shadow-sm justify-start bg-pink-950 border-b-2 border-pink-900">
                            <div class="mr-4 flex-shrink-0 my-auto">
                                <svg
                                    class="fill-current w-5 h-5"
                                    focusable="false"
                                    viewBox="0 0 24 24"
                                    aria-hidden="true">
                                    <path
                                        d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"
                                    ></path>
                                </svg>
                            </div>
                            <div class="flex-auto my-1">
                                <span>Menu Principal</span>
                            </div>
                        </li>
                        <li class="p-4 w-full flex relative shadow-sm">
                            <div class="flex-auto my-1">
                                <span class="text-white font-medium"></span>
                            </div>
                        </li> 
                        <li class="mb-5">
                            <div>
                                <Link
                                    :href="route('AgregarRemitenteNuevo.index')"
                                    class="boton_agregar">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Agregar Remitente 
                                </Link>
                            </div>
                        </li>

                        <li class="mb-5">
                            <div>
                                <Link
                                    :href="route('AgregarNuevo.index')"
                                    class="boton_agregar">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Agregar Nuevo Documento 
                                </Link>
                            </div>
                        </li>
                        
                        <li class="mb-5">
                            <div>
                                <Link
                                    :href="route('AgregarDestinatario.index')"
                                    class="boton_agregar">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Agregar Destinatario 
                                </Link>
                            </div>
                        </li>
                        <li class="mb-5">
                            <div>
                                <Link
                                    :href="route('AgregarArea.index')"
                                    class="boton_agregar"
                                >
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    Agregar Area Poder Judicial 
                                </Link>
                            </div>
                        </li>
                        <div
                            class="flex relative px-4 hover:bg-pink-700 cursor-pointer"
                            :class="[
                                elemento_menu.activo
                                    ? 'text-blue-600'
                                    : 'text-white',
                            ]"
                            v-for="(elemento_menu, index) in elementos_menu"
                            :key="index">
                            <div class="mr-4 my-auto">
                                <i
                                    class="fa"
                                    :class="elemento_menu.icono"
                                    aria-hidden="true"
                                ></i>
                            </div>
                            <div class="flex-auto my-1">
                                <Link :href="route(elemento_menu.nombre_ruta)">
                                    <span>{{ elemento_menu.nombre }}</span>
                                </Link>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="flex flex-col flex-1 overflow-hidden"> 
            <header
                class="text-white bg-fuchsia-950 sticky top-0 right-0">
                <div class="h-12 px-4  relative items-center sm:px-6 flex justify-end left-0">
                    <button
                        class="block h-10 w-10 rounded-full overflow-hidden shadow focus:outline-none">
                        <img
                            class="h-full w-full object-cover"
                            src="https://www.w3schools.com/howto/img_avatar.png"
                            alt="Avatar"/>
                    </button>
                    <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl font-semibold"></h1>
                </div>
            </header>
            <div class="text-white bg-pink-800 flex flex-col md:flex-row w-full">
                <div class="flex relative items-center p-4 md:h-12 auto">
                    <span class="text-2xl tracking-wide">Correspondencia Digital Para Oficialia de Partes (SIDECOP)</span>
                </div>
            </div>

            <div class="text-white bg-fuchsia-950 flex flex-wrap">
                <div
                    class="flex overflow-hidden md:h-12 ml-2 mb-2 md:mb-0 w-full md:w-auto"
                    v-for="(elemento_menu, index) in elementos_menu"
                    :key="index">
                    <Link :href="elemento_menu.url">
                        <button
                            class="mx-2 md:mx-3 border-white px-2 md:px-4 py-1 md:py-2"
                            :class="[elemento_menu.activo ? 'border-b-2' : '']">
                            <span>{{ elemento_menu.nombre }}</span>
                        </button>
                    </Link>
                </div>
            </div>

            <div class="flex-1 w-full mt-5 ml-5 flex-col">
                <main>
                    <slot />
                </main>
            </div>
        </div>
    </div>
</template>

<style>
.boton_agregar {
    @apply px-2 py-2 overflow-hidden rounded-2xl dark:focus:border-blue-700 hover:bg-blue-600 font-bold text-white;
}
</style>


